/.idea
/results
TRASH.py
/data/data2
/data/Mouse
/data/PBMC
/result
/dataset
/data/Campell
/data/Muraro
/data/Quake_10x_Bladder
/data/Quake_10x_Limb_Muscle
/data/Quake_10x_Spleen
/data/Quake_Smart-seq2_Diaphragm
/data/Quake_Smart-seq2_Lung
/data/Quake_Smart-seq2_Trachea
/data/romanov
